.russoFont {
    font-family: "Russo One", sans-serif;
  }

.four_zero_four_bg{
 
 background-image: url(./caveman.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
			 