*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.baseCastle{
    width: 100%;
    height: 30px;
    background-color: darkgrey;
    position: relative;
    top: 800px;
}

.mainSquare{
    width: 500px;
    height: 500px;
    background-color: darkgrey;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}