/* ---------------------------
            Global CSS 
------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #181818;
}

.primary-color {
    color: #FD6E0A;
}

.primary-button {
    height: 64px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* ------------------------------
            Header CSS 
---------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 1440px;
    margin: 40px auto;
}

nav h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav ul {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
}

ul li {
    list-style: none;
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li a {
    text-decoration: none;
}

li button {
    width: 150px;
}