*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
                                                
}

.body{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
}

.leftSection{
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.leftLogo{
    height: fit-content;
    text-align: center;
}

.logoPlaceholder{
    text-align: left;
}

.leftLogo img{
    height: 80px;
    align-content: left;
}

.leftLogo p{
    padding-left: 23px;
    font-size: 23px;
}

.rightSection{
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.signIn{
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    text-align: center;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #ccc ;
    top: 50%;
    background-color: white;
}

input{
    width: 90%;
    height: 45px;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus{
    border: 1px solid #4267B2;
    box-shadow: 0 0 5px #4267B2;
}

#loginButton{
    width: 94%;
    height: 45px;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

#forgotPass{
    font-size: 14px;
    margin: 10px;
}

.hrContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrContainer hr{
    width: 92%;
    margin: 10px;
}

#newAccount{
    width: 60%;
    height: 45px;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(16, 158, 16);
    color: white;
}



.formDownText{
    font-size: 14px;
    margin: 20px;
}

.formDownText a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.upperFooter{
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

.upperFooter p{
    font-size: small;

}

.addMore{
    border: 1px solid rgb(124, 124, 124);
    border-radius: 2px;
    width: 25px;
    height: 15px;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(214, 214, 214);
}

.lowerFooter{
    display: flex;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 10px;
}

.lowerFooter p{
    font-size: small;
    text-align: left;
}

.copyRights{
    font-size: small;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
}