/* ===============================
            Global css
=============================== */

*{
    margin: 0;
    padding: 0;
}

/* ===============================
            body css
=============================== */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #06181f;
}

.container{
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .icon {
    width: 200px;
}

.container .icon path {
    fill: transparent;
    stroke-width: 10;
    stroke: #31e8ff;
}

/* change values of array and offset to create a starting point from where you want to start your animation */

.container .heart path {
    stroke-dasharray: 1760;
    stroke-dashoffset: 1760;
}

/* hover animation effect creation */

.container .heart:hover path{
    animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart{
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1760; /*same value from the path creation*/
    }
    80% {
        stroke-dashoffset: 3520;  /*double the value you selected before effect creation*/
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #31e8ff;
    }
}

.container .star path {
    stroke-dasharray: 1760;
    stroke-dashoffset: 1760;
}

.container .star:hover path{
    animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart{
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1760;
    }
    80% {
        stroke-dashoffset: 3520;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #31e8ff;
    }
}

.container .moon path {
    stroke-dasharray: 2080;
    stroke-dashoffset: 2080;
}

.container .moon:hover path{
    animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart{
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 2080;
    }
    80% {
        stroke-dashoffset: 4160;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #31e8ff;
    }
}